md-icon.menu-icon {
    padding-right: 0.5em;
}
md-list.sidenav-list {
    padding: 0;
}
md-toolbar md-select {
    font-size: 16px;
}
md-toolbar div.login {
    margin-left: auto;
    margin-right: 20px;
}
