/* Import prebuilt Angular Material theme */
@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

md-toolbar-row > span {
    margin-left: 1em;
    margin-right: 1em;
}

html, body, md-sidenav-container {
    margin: 0;
    width: 100%;
    height: 100%;
}
