<md-card>
    <md-card-header>
        <div md-card-avatar><md-icon color="primary" class="avatar-icon">credit_card</md-icon></div>
        <md-card-title>{{account.name}}</md-card-title>
        <md-card-subtitle>{{account.regNo}}-{{account.accountNo}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        Balance: <span [ngClass]="isNegative(account.balance) ? 'balance-negative' : ''">{{account.balance | number:'1.2-2'}}</span>
    </md-card-content>
</md-card>
<md-list>
    <h3 md-subheader>Transactions</h3>
    <md-list-item *ngFor="let trx of transactions">
        <md-icon md-list-avatar>compare_arrows</md-icon>
        <h4 md-line [ngClass]="isNegative(trx.amount) ? 'balance-negative' : ''">{{trx.amount}}</h4>
        <p md-line>{{trx.description}}</p>
    </md-list-item>
</md-list>
