<md-card class="kiva-card">
    <md-card-header>
        Kiva Credit: $54.84.
    </md-card-header>
</md-card>
<md-grid-list cols="1" rowHeight="500px">
    <md-grid-tile
      *ngFor="let loan of loans"
      [colspan]="1"
      [rowspan]="1"
      [style.background]="lightblue">
    <md-card class="kiva-card">
        <md-card-header>
            <md-card-title>{{loan.name}}</md-card-title>
            <md-card-subtitle>{{loan.use}}</md-card-subtitle>
        </md-card-header>
        <img width="250px" src="https://www.kiva.org/img/s250/{{loan.image.id}}.jpg">
        <md-card-content>
            <p>{{loan.location.country}}</p>
            <p>Loan amount: {{loan.loan_amount}}</p>
        </md-card-content>
        <md-card-actions>
            <button md-button [routerLink]="'/lend/' + loan.id">Lend 25$</button>
        </md-card-actions>
    </md-card>
  </md-grid-tile>
</md-grid-list>
